/*smart phones*/
@media(max-width:767px){

    .navbar-nav > li > a{
        padding-top:8px;
        padding-bottom:5px;
        line-height:17px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height:13px;
    }

    .navbar-nav .open .dropdown-menu > li > a,
     .navbar-nav .open .dropdown-menu .dropdown-header{
        padding:5px 15px 12px 25px;
    }
    
    .input-lg{
        margin:0 auto 5px auto;
    }
}

/*small screen*/
@media(min-width:768px) and (max-width:991px){

}

/*medium screen*/
@media(min-width:992px) and (max-width:1199px){

}

/*large screen*/
@media(min-width:1200px){

}