.navbar-inverse .navbar-nav > .active > a
, .navbar-inverse .navbar-nav > .active > a:hover
, .navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus,
 .carousel-indicators .active,
 .option-box .gear-check{
    background:yellow;
}


.navbar-brand span,
.about h1 span,
.about h3 span,
.testimonials span,
.footer h3,
.footer .copyright span{
    color:yellow;
}


.option-box .color-option,
.testimonials .carousel-indicators .active{
    border:4px solid yellow;
}

.navbar-right .dropdown-menu{
    border-top:1px solid yellow;
}


